body{
    width: 100vw;
    display: flex;
    height: 100vh;
    
}
.logo{
    display: flex;
    width: 70%;
    height: 90%;
    margin-top: 10%;
}
.f1, .f2, .f3 {
    background-color: hsl(0, 0%, 100%);
    width: 120px;
    height: 400px;
}
.bola{
    width: 85%;
    height: 26%;
    background-color: rgb(201, 21, 24);
    border-radius: 100%;
    margin-bottom: 7%;
    margin-left: 150px;
    position:relative;
    opacity: 0; 
    animation: aparecer 0.9s forwards;
    animation-delay: 1s;
}

.q1, .q2, .q3, .q4, .q5, .q6, .q7, .q8, .q9{
    width: 93%;
    height: 25%;
    background-color: rgb(55, 153, 54);
    margin-bottom: 10%;
    border-radius: 7%;
    position: relative;
}
.q1{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
}
.q2{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.4s;
}
.q3{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.8s;
}
.q4{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.12s;
}
.q5{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.16s;
}
.q6{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.20s;
}
.q7{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.24s;
}
.q8{ 
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.28s;
}
.q9{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.32s;

}

.espaco{
    width: 93%;
    height: 25%;
    margin-bottom: 7%;
}

@keyframes mymove{
     0%   {left: 0px; width: 0px;}
     100% { left: 150px; width: 100px; opacity: 1;}
}
@keyframes aparecer {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .curso{
    margin-top: 5%;
  }

  @keyframes curso{
    0% {right: 100px;opacity: 0;}
    25% {right: 250px; opacity: 1;}
    50% {right: 400px; opacity: 1;}
    75% {right: 500px; opacity: 1;}
    100% {right:500px; opacity: 1;}
  }

  @keyframes EM {
     0% {right:10px;opacity: 0;}
    25% {right: 250px; opacity: 1;}
    50% {right:500px; opacity: 1;}
    75% {right: 500px; opacity: 1;}
    100% {right:500px; opacity: 1;}
  }

  .EM{
    opacity: 0;
    position: relative;
    animation: EM 4s linear forwards;
    animation-delay: 0.7s;
  }

  .info {
    opacity: 0;
    position: relative;
    animation: curso  1.5s linear forwards;
    animation-delay: 2s;

  }
  .adm {
    opacity: 0;
    position: relative;
    animation: curso  1.5s linear forwards;
    animation-delay: 2.5s;
  }

 .faixa {
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #194619;
    position:absolute;
    animation: cair 1s linear forwards, cobrir 1.5s ease-out forwards;
    animation-delay: 0s, 4s;
}
.nome{
    opacity: 0;
    margin-left: 30%;
    position: absolute;
    animation-delay: 10s;
    animation: nomecair 1s ease-out forwards;
    animation-delay: 5s;
  }
@keyframes cair{
    0%{top:-700px}
    100%{top:0px}
}

@keyframes cobrir {
    0% {width: 30%;}
    100%{width: 100%;}
}

@keyframes nomecair {
    0%{top: -1000px; opacity: 1;}
    100%{top: 30%; opacity: 1;}
    
    
}





  
  