/*.quadrado{
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    animation: mymove 5s infinite,colorchange 5s ease-in-out infinite;
    border-radius: 10%;
    margin-bottom: 10px;
    margin-left: 40%;
}

@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    75%  {top: 50px}
    100% {top: 100px;}
    }

@keyframes colorchange {
    0% { background-color: black;}
    25% { background-color: green;}
    75% { background-color: hwb(108 0% 53%);}
    100% { background-color: hsl(120, 95%, 7%);}
}
.bola{
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    animation: mymove 5s infinite, colorchange2 5s ease-in-out infinite;
    border-radius: 100%;
    margin-bottom: 10px;
    margin-left: 40%;
}

@keyframes colorchange2 {
    0% { background-color: #ff0000;}
    25% { background-color: #5e0101;}
    75% { background-color: hwb(0 0% 0% / 0.856);}
    100% { background-color: lab(72.36% -72.95 69.37);}
}

.quadrado2{
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    animation: mymove 5s infinite, colorchange 5s ease-in-out infinite;
    border-radius: 10%;
    margin-bottom: 10px;
    margin-left: 47%;
    margin-top: -440px;
}
.quadrado3{
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    animation: mymove 5s infinite, colorchange 5s ease-in-out infinite;
    border-radius: 10%;
    margin-bottom: 10px;
    margin-left: 47%;
}
.quadrado4{
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    animation: mymove 5s infinite, colorchange 5s ease-in-out infinite;
    border-radius: 10%;
    margin-bottom: 10px;
    margin-left: 54%;
    margin-top: -440px;
}
.quadrado5{
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    animation: mymove 5s infinite, colorchange 5s ease-in-out infinite;
    border-radius: 10%;
    margin-bottom: 10px;
    margin-left: 54%;
    margin-top: 120px;
}
body{
    animation: go-back 1s infinite;
}
@keyframes go-back {
	0% {
		transform: translateX(100px);
	}
	100% {
		transform: translateX(0);
	}
}

.fila1{
    margin-right: 1%;
}
.fila2{
    margin-right: 1%;
    margin-left: 1%;
}

.fila3{
    margin-left: 1%;
}

/*---------------------------------------------------REAL------------------------------------------*/

body{
    display: flex;
    height: 60vh;
    align-items: center;
}

.f1, .f2, .f3 {
    background-color: hsl(0, 0%, 100%);
    width: 120px;
    height: 400px;
}

.bola{
    width: 85%;
    height: 26%;
    background-color: rgb(201, 21, 24);
    border-radius: 100%;
    margin-bottom: 7%;
    margin-left: 150px;
    position:relative;
    opacity: 0; 
    animation: aparecer 0.5s forwards;
    animation-delay: 0.8s;
}

.q1, .q2, .q3, .q4, .q5, .q6, .q7, .q8, .q9{
    width: 93%;
    height: 25%;
    background-color: rgb(55, 153, 54);
    margin-bottom: 10%;
    border-radius: 7%;
    position: relative;
   /*animation: mymove 0.8s linear forwards;*/
}
.q1{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
}
.q2{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.4s;
}
.q3{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.8s;
}
.q4{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.12s;
}
.q5{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.16s;
}
.q6{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.20s;
}
.q7{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.24s;
}
.q8{ 
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.28s;
}
.q9{
    opacity: 0;
    animation: mymove 0.8s linear forwards;
    animation-delay: 0.32s;

}

.espaco{
    width: 93%;
    height: 25%;
    margin-bottom: 7%;
}

@keyframes mymove{
     0%   {top: 100px; left: 0px; width: 0px;}
     100% {top: 100px; left: 150px; width: 100px; opacity: 100;}
}
@keyframes aparecer {
    0% {
      opacity: 0;
      transform: scale(0.5);
      top: 100px;
    }
    100% {
      opacity: 1;
      transform: scale(1);
      top: 100px;
    }
  }

  .nome{
    margin-top: 100px;
    margin-left: 300px;
    opacity: 0;
  }




  
  